* {
    margin: 7px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    font-family:Verdana;
    background-color:#28292C
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    padding: 5px;
    text-align: center;
}
p{
    font-size:20px;
    color:whitesmoke;
    padding: 0px;
    text-align: center;
}
p1 {
    font-size:20px;
    color:whitesmoke;
    padding: 0px;
    text-align: left;
    text-indent: 250px;
}